language: swift
osx_image: xcode11
env:
  global:
  - FRAMEWORK_NAME=AWSAppSync
xcode_workspace: AWSAppSyncClient.xcworkspace
xcode_scheme: AWSAppSync
before_install:
- openssl aes-256-cbc -K $encrypted_6919a533707f_key -iv $encrypted_6919a533707f_iv
  -in AWSAppSyncIntegrationTests/appsync_test_credentials.json.enc
  -out AWSAppSyncIntegrationTests/appsync_test_credentials.json
  -d
- brew update
- brew outdated carthage || brew upgrade carthage
before_deploy:
- carthage build --no-skip-current
- carthage archive $FRAMEWORK_NAME
script:
- xcodebuild -workspace AWSAppSyncClient.xcworkspace -scheme AWSAppSync build test -destination 'platform=iOS Simulator,name=iPhone 6,OS=latest'
deploy:
- provider: releases
  api_key:
    secure: "Mu3YGjSxtBDZKNCgHit63OPyMhxeJN8d+WoTAWbWtgrlPHeOMce6NI6mGSWixqL9W2F6rWSsyLhIiknrU/5zqcQyNYHhWLlQfbjmOHMEgSDQ5TPyXfIHJZo8RuXmPEXfptZvXa/6et+6N+kjJyO8PcjQl1kDbsnpCPPLas9AgzERXfPuiQlC9gL7dFQp//rYT/vzn08RV9i9nN0Qv+nkOCrnIfp+Vy/J5duhbGPhl05U5JO1VKGNSxiasXS55x+zgnKCAmCHEarkX9Tz/8TGCowDfsVhsmh52RysxJQ6eqXQIOVJZG5p/yg96dAMw/vXCLS99TlHRDLTgG0U3AL8i+fcgnBTeXyumCF0RQoVdKqDyjH82ip+UWc3+vYdRgfs1azsSiKMpK7aoKqFepinvds7x8URAXZF1+b6yYCXSYXIu4GsVoVs/7c9RJdy1QC5KQV4E0ix1AhxRcgzY/JeNvyKmmd0vTmLdVVH9ROz0aQZyHyevSRDwAOciHnado/jt/9yCGs+EgyOKvBfOZL8VL3NUXlMVFU/gPRinkN3mUc7I+NdVXl9w7okthmEwz6uqq6EEM2xr/Uro6Zi+YBPRvU7kC3xjsYoRPXJl8OWU0EK8BRbOGPbl1OkVU8JCQfEP8CLMYk1mCnRGkvaVd2rqlcRiOtrYf6qdsbT5LAu79I="
  file: "$FRAMEWORK_NAME.framework.zip"
  skip_cleanup: true
  on:
   repo: awslabs/aws-mobile-appsync-sdk-ios
   tags: true
- provider: script
  script: bash cocoapods_release.sh
  on:
    repo: awslabs/aws-mobile-appsync-sdk-ios
    tags: true
